<% layout('layout/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-2">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1652119397316-c68a01c86782?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                        alt="">
                    <div class="card-body">

                        <h5 class="card-title">Register</h5>
                        <form action="/register" class="validated-form" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="text" id="email" name="email" required>

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="text" id="password" name="password" required>

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class='btn btn-success'>Register</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>